body {
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}

.App h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 30px;
}
.App h2 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 15px;
}

.App p {
  opacity: 0.6;
  line-height: 1.5;
}
.App button {
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
  margin: 20px auto;
  padding: 10px 95px;
  font-size: 13px;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  color: hsl(0, 0%, 100%);
  position: relative;
  left: -40px;
}
.App button:hover {
  background-color: #fff;
  color: #000;
}
.row {
  margin: 0 auto;
}

.row p {
  color: #fff;
  opacity: 1;
  font-weight: lighter;
}
.container {
  margin: 100px auto;
  width: 800px;
}

.community {
  background-color: #ffff;
  padding: 40px;
}
.subscription {
  background-color: hsl(179, 62%, 43%);
  text-align: center;
  padding: 20px;
  padding-right: 10px;
}
.subscription h3 {
  color: #fff;
  font-size: 20px;
  position: relative;
  left: -50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.subscription p {
  position: relative;
  left: -40px;
}
.contact {
  background-color: #5ec5c2;
  padding: 20px;
}
.contact h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  right: -25px;
}
.contact p {
  position: relative;
  right: -25px;
  line-height: 1.5;
  font-size: 15px;
  padding: 5px;
}
.price {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  position: relative;
  left: -80px;
}
.monthly {
  color: #fff;
  opacity: 0.6;
  font-weight: lighter;
  position: relative;
  left: -75px;
  top: -5px;
}
@media (max-width: 600px) {
  .container {
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
  }
  .col-6 {
    width: 100%;
  }
  .subscription,
  .contact {
    padding: 15px;
  }
  .App h2 {
    font-size: 15px;
  }
}
