body {
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
}
.App h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 30px;
}
.App h2 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 15px;
}
.App h3 {
  color: #fff;
  font-size: 20px;
}
.App p {
  opacity: 0.6;
  line-height: 1.5;
}
.App button {
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
  margin: 20px auto;
  padding: 10px 95px;
  font-size: 13px;
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  color: hsl(0, 0%, 100%);
}
.App button:hover {
  background-color: #fff;
  color: #000;
}
.row p {
  color: #fff;
  opacity: 1;
  font-weight: lighter;
}
.container {
  border-radius: 20px;
  margin: 150px auto;
  width: 800px;
}
.community {
  background-color: #ffff;
  padding: 60px;
}
.subscription {
  background-color: hsl(179, 62%, 43%);
  text-align: center;
}

.contact {
  background-color: hsl(218, 22%, 67%);
}
.price {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.monthly {
  color: #fff;
  opacity: 0.6;
  font-weight: lighter;
}
